@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-open-sans), sans-serif;
}

@layer base {
  :root {
    --background: 40 33% 95%;
    --foreground: 20 14% 21%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 21%;
    --primary: 16 77% 58%;
    --primary-foreground: 40 33% 98%;
    --secondary: 40 20% 90%;
    --secondary-foreground: 20 14% 21%;
    --muted: 40 20% 90%;
    --muted-foreground: 20 14% 45%;
    --accent: 16 77% 68%;
    --accent-foreground: 20 14% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 85%;
    --input: 40 20% 88%;
    --ring: 16 77% 58%;
    --chart-1: 16 77% 58%;
    --chart-2: 20 14% 40%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 20 14% 21%;
    --sidebar-primary: 16 77% 58%;
    --sidebar-primary-foreground: 40 33% 98%;
    --sidebar-accent: 40 20% 92%;
    --sidebar-accent-foreground: 20 14% 15%;
    --sidebar-border: 40 20% 88%;
    --sidebar-ring: 16 77% 58%;
  }
  .dark {
    --background: 20 14% 5%;
    --foreground: 40 33% 95%;
    --card: 20 14% 8%;
    --card-foreground: 40 33% 95%;
    --popover: 20 14% 5%;
    --popover-foreground: 40 33% 95%;
    --primary: 16 77% 58%;
    --primary-foreground: 40 33% 98%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 40 33% 95%;
    --muted: 20 14% 15%;
    --muted-foreground: 40 33% 70%;
    --accent: 20 14% 20%;
    --accent-foreground: 40 33% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 16 77% 58%;
    --chart-1: 16 77% 58%;
    --chart-2: 40 33% 80%;
    --sidebar-background: 20 14% 8%;
    --sidebar-foreground: 40 33% 95%;
    --sidebar-primary: 16 77% 58%;
    --sidebar-primary-foreground: 40 33% 98%;
    --sidebar-accent: 20 14% 18%;
    --sidebar-accent-foreground: 40 33% 98%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 16 77% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
